{
    "openapi": "3.1.0",
    "info": {
        "title": "Rapidly API",
        "summary": "Rapidly HTTP and Webhooks API",
        "description": "Rapidly file-sharing API",
        "version": "0.1.0"
    },
    "servers": [
        {
            "url": "https://api.rapidly.tech",
            "description": "Production"
        }
    ],
    "paths": {
        "/search": {
            "get": {
                "tags": [
                    "search",
                    "private"
                ],
                "summary": "Search",
                "description": "Internal search endpoint for dashboard.\n\n**Scopes**: `customers:read` `customers:write` `shares:read` `shares:write`",
                "operationId": "search:search",
                "security": [
                    {
                        "oidc": [
                            "customers:read",
                            "customers:write",
                            "shares:read",
                            "shares:write"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "workspace_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid",
                            "description": "Workspace ID to search within",
                            "title": "Workspace Id"
                        },
                        "description": "Workspace ID to search within"
                    },
                    {
                        "name": "query",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "description": "Search query string",
                            "title": "Query"
                        },
                        "description": "Search query string"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "maximum": 50,
                            "minimum": 1,
                            "description": "Maximum number of results",
                            "default": 20,
                            "title": "Limit"
                        },
                        "description": "Maximum number of results"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SearchResults"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "x-rapidly-allowed-subjects": [
                    "User"
                ]
            }
        },
        "/api/users/me/oauth-accounts/{platform}": {
            "delete": {
                "tags": [
                    "users",
                    "private"
                ],
                "summary": "Disconnect Oauth Account",
                "description": "Disconnect an OAuth account (GitHub or Google) from the authenticated user.\n\nThis allows users to unlink their OAuth provider while keeping their Rapidly account.\nThey can still authenticate using other methods (email magic link or other OAuth providers).\n\nNote: You cannot disconnect your last authentication method if your email is not verified.",
                "operationId": "users:disconnect_oauth_account",
                "security": [
                    {
                        "oidc": []
                    }
                ],
                "parameters": [
                    {
                        "name": "platform",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/OAuthPlatform"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Successful Response"
                    },
                    "404": {
                        "description": "OAuth account not found"
                    },
                    "400": {
                        "description": "Cannot disconnect last authentication method"
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "x-rapidly-allowed-subjects": [
                    "User"
                ]
            }
        },
        "/api/users/me": {
            "get": {
                "tags": [
                    "users",
                    "private"
                ],
                "summary": "Get Authenticated",
                "operationId": "users:get_authenticated",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserRead"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oidc": []
                    }
                ],
                "x-rapidly-allowed-subjects": [
                    "User"
                ]
            },
            "delete": {
                "tags": [
                    "users",
                    "private"
                ],
                "summary": "Delete Authenticated User",
                "description": "Delete the authenticated user account.\n\nA user can only be deleted if all workspaces they are members of have been\ndeleted first. If the user has active workspaces, the response will include\nthe list of workspaces that must be deleted before the user account can be\nremoved.\n\nWhen deleted:\n- User's email is anonymized\n- User's avatar and metadata are cleared\n- User's OAuth accounts are deleted (cascade)\n- User's Account (payout account) is deleted if present\n\n**Scopes**: `user:write`",
                "operationId": "users:delete_authenticated_user",
                "responses": {
                    "200": {
                        "description": "Deletion result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserDeletionResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oidc": [
                            "user:write"
                        ]
                    }
                ],
                "x-rapidly-allowed-subjects": [
                    "User"
                ]
            }
        },
        "/api/users/me/scopes": {
            "get": {
                "tags": [
                    "users",
                    "private"
                ],
                "summary": "Scopes",
                "operationId": "users:scopes",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserScopes"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oidc": []
                    }
                ],
                "x-rapidly-allowed-subjects": [
                    "User"
                ]
            }
        },
        "/api/users/me/identity-verification": {
            "post": {
                "tags": [
                    "users",
                    "private"
                ],
                "summary": "Create Identity Verification",
                "operationId": "users:create_identity_verification",
                "responses": {
                    "201": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserIdentityVerification"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oidc": []
                    }
                ],
                "x-rapidly-allowed-subjects": [
                    "User"
                ]
            }
        },
        "/api/auth/logout": {
            "get": {
                "tags": [
                    "auth",
                    "private"
                ],
                "summary": "End session",
                "description": "Invalidate the current session and redirect to the frontend.",
                "operationId": "auth:logout",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            }
        },
        "/api/oauth2/": {
            "get": {
                "tags": [
                    "oauth2",
                    "clients",
                    "private"
                ],
                "summary": "List Clients",
                "description": "List OAuth2 clients belonging to the authenticated user.",
                "operationId": "oauth2:list",
                "security": [
                    {
                        "oidc": []
                    }
                ],
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "exclusiveMinimum": 0,
                            "description": "Page number, defaults to 1.",
                            "default": 1,
                            "title": "Page"
                        },
                        "description": "Page number, defaults to 1."
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "exclusiveMinimum": 0,
                            "description": "Size of a page, defaults to 10. Maximum is 100.",
                            "default": 10,
                            "title": "Limit"
                        },
                        "description": "Size of a page, defaults to 10. Maximum is 100."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedList_OAuth2Client_"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "x-rapidly-allowed-subjects": [
                    "User"
                ]
            }
        },
        "/api/oauth2/register": {
            "post": {
                "tags": [
                    "oauth2",
                    "clients",
                    "public"
                ],
                "summary": "Create Client",
                "description": "Register a new OAuth2 client (RFC 7591).",
                "operationId": "oauth2:oauth2:create_client",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/OAuth2ClientConfiguration"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oidc": []
                    }
                ],
                "x-rapidly-allowed-subjects": [
                    "Anonymous",
                    "User"
                ]
            }
        },
        "/api/oauth2/register/{client_id}": {
            "get": {
                "tags": [
                    "oauth2",
                    "clients",
                    "public"
                ],
                "summary": "Get Client",
                "description": "Read an OAuth2 client's configuration (RFC 7592).",
                "operationId": "oauth2:oauth2:get_client",
                "security": [
                    {
                        "oidc": []
                    }
                ],
                "parameters": [
                    {
                        "name": "client_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Client Id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "x-rapidly-allowed-subjects": [
                    "Anonymous",
                    "User"
                ]
            },
            "put": {
                "tags": [
                    "oauth2",
                    "clients",
                    "public"
                ],
                "summary": "Update Client",
                "description": "Update an OAuth2 client's configuration (RFC 7592).",
                "operationId": "oauth2:oauth2:update_client",
                "security": [
                    {
                        "oidc": []
                    }
                ],
                "parameters": [
                    {
                        "name": "client_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Client Id"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/OAuth2ClientConfigurationUpdate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "x-rapidly-allowed-subjects": [
                    "Anonymous",
                    "User"
                ]
            },
            "delete": {
                "tags": [
                    "oauth2",
                    "clients",
                    "public"
                ],
                "summary": "Delete Client",
                "description": "Soft-delete an OAuth2 client (RFC 7592).",
                "operationId": "oauth2:oauth2:delete_client",
                "security": [
                    {
                        "oidc": []
                    }
                ],
                "parameters": [
                    {
                        "name": "client_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Client Id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "x-rapidly-allowed-subjects": [
                    "Anonymous",
                    "User"
                ]
            }
        },
        "/api/oauth2/authorize": {
            "get": {
                "tags": [
                    "oauth2",
                    "public"
                ],
                "summary": "Authorize",
                "description": "Begin the authorization code flow (returns consent metadata or auto-approves).",
                "operationId": "oauth2:authorize",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "$ref": "#/components/schemas/AuthorizeResponseUser"
                                        },
                                        {
                                            "$ref": "#/components/schemas/AuthorizeResponseWorkspace"
                                        }
                                    ],
                                    "title": "Response Oauth2:Authorize",
                                    "discriminator": {
                                        "propertyName": "sub_type",
                                        "mapping": {
                                            "user": "#/components/schemas/AuthorizeResponseUser",
                                            "workspace": "#/components/schemas/AuthorizeResponseWorkspace"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oidc": []
                    }
                ],
                "x-rapidly-allowed-subjects": [
                    "Anonymous",
                    "User"
                ]
            }
        },
        "/api/oauth2/consent": {
            "post": {
                "tags": [
                    "oauth2",
                    "private"
                ],
                "summary": "Consent",
                "description": "Handle the user's consent decision (allow or deny).",
                "operationId": "oauth2:consent",
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "$ref": "#/components/schemas/Body_oauth2_consent"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oidc": []
                    }
                ],
                "x-rapidly-allowed-subjects": [
                    "User"
                ]
            }
        },
        "/api/oauth2/token": {
            "post": {
                "tags": [
                    "oauth2",
                    "public"
                ],
                "summary": "Request Token",
                "description": "Exchange a grant for an access token.",
                "operationId": "oauth2:request_token",
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "oneOf": [
                                    {
                                        "$ref": "#/components/schemas/AuthorizationCodeTokenRequest"
                                    },
                                    {
                                        "$ref": "#/components/schemas/RefreshTokenRequest"
                                    },
                                    {
                                        "$ref": "#/components/schemas/WebTokenRequest"
                                    }
                                ]
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TokenResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/oauth2/revoke": {
            "post": {
                "tags": [
                    "oauth2",
                    "public"
                ],
                "summary": "Revoke Token",
                "description": "Revoke an access or refresh token.",
                "operationId": "oauth2:revoke_token",
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "$ref": "#/components/schemas/RevokeTokenRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RevokeTokenResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/oauth2/introspect": {
            "post": {
                "tags": [
                    "oauth2",
                    "public"
                ],
                "summary": "Introspect Token",
                "description": "Return metadata about an active token.",
                "operationId": "oauth2:introspect_token",
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "$ref": "#/components/schemas/IntrospectTokenRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/IntrospectTokenResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/oauth2/userinfo": {
            "get": {
                "tags": [
                    "oauth2",
                    "public"
                ],
                "summary": "Get User Info",
                "description": "Return OpenID Connect claims for the authenticated subject.",
                "operationId": "oauth2:userinfo",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "$ref": "#/components/schemas/UserInfoUser"
                                        },
                                        {
                                            "$ref": "#/components/schemas/UserInfoWorkspace"
                                        }
                                    ],
                                    "title": "Response Oauth2:Userinfo"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oidc": []
                    }
                ]
            }
        },
        "/api/login-code/request": {
            "post": {
                "tags": [
                    "login_code",
                    "private"
                ],
                "summary": "Request Login Code",
                "description": "Request a login code.",
                "operationId": "login_code:request_login_code",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/LoginCodeRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "202": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/login-code/authenticate": {
            "post": {
                "tags": [
                    "login_code",
                    "private"
                ],
                "summary": "Authenticate Login Code",
                "description": "Authenticate with a login code.",
                "operationId": "login_code:authenticate_login_code",
                "security": [
                    {
                        "oidc": []
                    }
                ],
                "parameters": [
                    {
                        "name": "email",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "email",
                            "title": "Email"
                        }
                    },
                    {
                        "name": "return_to",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "Return To"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "$ref": "#/components/schemas/Body_login_code_authenticate_login_code"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "x-rapidly-allowed-subjects": [
                    "Anonymous",
                    "User"
                ]
            }
        },
        "/api/workspaces/": {
            "get": {
                "tags": [
                    "workspaces",
                    "public"
                ],
                "summary": "List Workspaces",
                "description": "List workspaces.\n\n**Scopes**: `workspaces:read` `workspaces:write`",
                "operationId": "workspaces:list",
                "security": [
                    {
                        "oidc": [
                            "workspaces:read",
                            "workspaces:write"
                        ]
                    },
                    {
                        "oat": [
                            "workspaces:read",
                            "workspaces:write"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "slug",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "description": "Filter by slug.",
                            "title": "Slug"
                        },
                        "description": "Filter by slug."
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "exclusiveMinimum": 0,
                            "description": "Page number, defaults to 1.",
                            "default": 1,
                            "title": "Page"
                        },
                        "description": "Page number, defaults to 1."
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "exclusiveMinimum": 0,
                            "description": "Size of a page, defaults to 10. Maximum is 100.",
                            "default": 10,
                            "title": "Limit"
                        },
                        "description": "Size of a page, defaults to 10. Maximum is 100."
                    },
                    {
                        "name": "sorting",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/WorkspaceSortProperty"
                                    }
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "description": "Sorting criterion. Several criteria can be used simultaneously and will be applied in order. Add a minus sign `-` before the criteria name to sort by descending order.",
                            "default": [
                                "created_at"
                            ],
                            "title": "Sorting"
                        },
                        "description": "Sorting criterion. Several criteria can be used simultaneously and will be applied in order. Add a minus sign `-` before the criteria name to sort by descending order."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedList_Workspace_"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "x-rapidly-allowed-subjects": [
                    "User",
                    "Workspace"
                ]
            },
            "post": {
                "tags": [
                    "workspaces",
                    "public"
                ],
                "summary": "Create Workspace",
                "description": "Create an workspace.\n\n**Scopes**: `workspaces:write`",
                "operationId": "workspaces:create",
                "security": [
                    {
                        "oidc": [
                            "workspaces:write"
                        ]
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/WorkspaceCreate"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Workspace created.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Workspace"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "x-rapidly-allowed-subjects": [
                    "User"
                ]
            }
        },
        "/api/workspaces/{id}": {
            "get": {
                "tags": [
                    "workspaces",
                    "public"
                ],
                "summary": "Get Workspace",
                "description": "Get an workspace by ID.\n\n**Scopes**: `workspaces:read` `workspaces:write`",
                "operationId": "workspaces:get",
                "security": [
                    {
                        "oidc": [
                            "workspaces:read",
                            "workspaces:write"
                        ]
                    },
                    {
                        "oat": [
                            "workspaces:read",
                            "workspaces:write"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid4",
                            "examples": [
                                "1dbfc517-0bbf-4301-9ba8-555ca42b9737"
                            ],
                            "description": "The workspace ID.",
                            "x-rapidly-selector-widget": {
                                "resourceRoot": "/api/workspaces",
                                "resourceName": "Workspace",
                                "displayProperty": "name"
                            },
                            "title": "Id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Workspace"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Workspace not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResourceNotFound"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "x-rapidly-allowed-subjects": [
                    "User",
                    "Workspace"
                ]
            },
            "patch": {
                "tags": [
                    "workspaces",
                    "public"
                ],
                "summary": "Update Workspace",
                "description": "Update an workspace.\n\n**Scopes**: `workspaces:write`",
                "operationId": "workspaces:update",
                "security": [
                    {
                        "oidc": [
                            "workspaces:write"
                        ]
                    },
                    {
                        "oat": [
                            "workspaces:write"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid4",
                            "examples": [
                                "1dbfc517-0bbf-4301-9ba8-555ca42b9737"
                            ],
                            "description": "The workspace ID.",
                            "x-rapidly-selector-widget": {
                                "resourceRoot": "/api/workspaces",
                                "resourceName": "Workspace",
                                "displayProperty": "name"
                            },
                            "title": "Id"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/WorkspaceUpdate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Workspace updated.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Workspace"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "You don't have the permission to update this workspace.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotPermitted"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Workspace not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResourceNotFound"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "x-rapidly-allowed-subjects": [
                    "User",
                    "Workspace"
                ]
            },
            "delete": {
                "tags": [
                    "workspaces",
                    "private"
                ],
                "summary": "Delete Workspace",
                "description": "Request deletion of a workspace.\n\nIf the workspace has no blocking resources, it will be immediately\nsoft-deleted. If it has a Stripe account, that will be deleted first.\n\nIf deletion cannot proceed immediately (e.g. Stripe deletion fails),\na support ticket will be created for manual handling.\n\n**Scopes**: `workspaces:write`",
                "operationId": "workspaces:delete",
                "security": [
                    {
                        "oidc": [
                            "workspaces:write"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid4",
                            "examples": [
                                "1dbfc517-0bbf-4301-9ba8-555ca42b9737"
                            ],
                            "description": "The workspace ID.",
                            "x-rapidly-selector-widget": {
                                "resourceRoot": "/api/workspaces",
                                "resourceName": "Workspace",
                                "displayProperty": "name"
                            },
                            "title": "Id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Workspace deleted or deletion request submitted.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/WorkspaceDeletionResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "You don't have the permission to delete this workspace.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotPermitted"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Workspace not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResourceNotFound"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "x-rapidly-allowed-subjects": [
                    "User"
                ]
            }
        },
        "/api/workspaces/{id}/account": {
            "get": {
                "tags": [
                    "workspaces",
                    "private"
                ],
                "summary": "Get Workspace Account",
                "description": "Get the account for an workspace.\n\n**Scopes**: `workspaces:read` `workspaces:write`",
                "operationId": "workspaces:get_account",
                "security": [
                    {
                        "oidc": [
                            "workspaces:read",
                            "workspaces:write"
                        ]
                    },
                    {
                        "oat": [
                            "workspaces:read",
                            "workspaces:write"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid4",
                            "examples": [
                                "1dbfc517-0bbf-4301-9ba8-555ca42b9737"
                            ],
                            "description": "The workspace ID.",
                            "x-rapidly-selector-widget": {
                                "resourceRoot": "/api/workspaces",
                                "resourceName": "Workspace",
                                "displayProperty": "name"
                            },
                            "title": "Id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Account"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "User is not the admin of the account.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotPermitted"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Workspace not found or account not set.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResourceNotFound"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "x-rapidly-allowed-subjects": [
                    "User",
                    "Workspace"
                ]
            }
        },
        "/api/workspaces/{id}/payment-status": {
            "get": {
                "tags": [
                    "workspaces",
                    "private"
                ],
                "summary": "Get Workspace Payment Status",
                "description": "Get payment status and onboarding steps for an workspace.",
                "operationId": "workspaces:get_payment_status",
                "security": [
                    {
                        "oidc": []
                    },
                    {
                        "oat": []
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid4",
                            "examples": [
                                "1dbfc517-0bbf-4301-9ba8-555ca42b9737"
                            ],
                            "description": "The workspace ID.",
                            "x-rapidly-selector-widget": {
                                "resourceRoot": "/api/workspaces",
                                "resourceName": "Workspace",
                                "displayProperty": "name"
                            },
                            "title": "Id"
                        }
                    },
                    {
                        "name": "account_verification_only",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "description": "Only perform account verification checks, skip share and integration checks",
                            "default": false,
                            "title": "Account Verification Only"
                        },
                        "description": "Only perform account verification checks, skip share and integration checks"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/WorkspacePaymentStatus"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Workspace not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResourceNotFound"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "x-rapidly-allowed-subjects": [
                    "Anonymous",
                    "User",
                    "Workspace"
                ]
            }
        },
        "/api/workspaces/{id}/members": {
            "get": {
                "tags": [
                    "workspaces",
                    "private"
                ],
                "summary": "Members",
                "description": "List members in an workspace.\n\n**Scopes**: `workspaces:read` `workspaces:write`",
                "operationId": "workspaces:members",
                "security": [
                    {
                        "oidc": [
                            "workspaces:read",
                            "workspaces:write"
                        ]
                    },
                    {
                        "oat": [
                            "workspaces:read",
                            "workspaces:write"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid4",
                            "examples": [
                                "1dbfc517-0bbf-4301-9ba8-555ca42b9737"
                            ],
                            "description": "The workspace ID.",
                            "x-rapidly-selector-widget": {
                                "resourceRoot": "/api/workspaces",
                                "resourceName": "Workspace",
                                "displayProperty": "name"
                            },
                            "title": "Id"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "exclusiveMinimum": 0,
                            "description": "Page number, defaults to 1.",
                            "default": 1,
                            "title": "Page"
                        },
                        "description": "Page number, defaults to 1."
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "exclusiveMinimum": 0,
                            "description": "Size of a page, defaults to 10. Maximum is 100.",
                            "default": 10,
                            "title": "Limit"
                        },
                        "description": "Size of a page, defaults to 10. Maximum is 100."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedList_WorkspaceMember_"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "x-rapidly-allowed-subjects": [
                    "User",
                    "Workspace"
                ]
            }
        },
        "/api/workspaces/{id}/members/invite": {
            "post": {
                "tags": [
                    "workspaces",
                    "private"
                ],
                "summary": "Invite Member",
                "description": "Invite a user to join an workspace.\n\n**Scopes**: `workspaces:write`",
                "operationId": "workspaces:invite_member",
                "security": [
                    {
                        "oidc": [
                            "workspaces:write"
                        ]
                    },
                    {
                        "oat": [
                            "workspaces:write"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid4",
                            "examples": [
                                "1dbfc517-0bbf-4301-9ba8-555ca42b9737"
                            ],
                            "description": "The workspace ID.",
                            "x-rapidly-selector-widget": {
                                "resourceRoot": "/api/workspaces",
                                "resourceName": "Workspace",
                                "displayProperty": "name"
                            },
                            "title": "Id"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/WorkspaceMemberInvite"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/WorkspaceMember"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "x-rapidly-allowed-subjects": [
                    "User",
                    "Workspace"
                ]
            }
        },
        "/api/workspaces/{id}/members/leave": {
            "delete": {
                "tags": [
                    "workspaces",
                    "private"
                ],
                "summary": "Leave Workspace",
                "description": "Leave an workspace.\n\nUsers can only leave an workspace if they are not the admin\nand there is at least one other member.\n\n**Scopes**: `workspaces:write`",
                "operationId": "workspaces:leave_workspace",
                "security": [
                    {
                        "oidc": [
                            "workspaces:write"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid4",
                            "examples": [
                                "1dbfc517-0bbf-4301-9ba8-555ca42b9737"
                            ],
                            "description": "The workspace ID.",
                            "x-rapidly-selector-widget": {
                                "resourceRoot": "/api/workspaces",
                                "resourceName": "Workspace",
                                "displayProperty": "name"
                            },
                            "title": "Id"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Successfully left the workspace."
                    },
                    "403": {
                        "description": "Cannot leave workspace (admin or only member).",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotPermitted"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Workspace not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResourceNotFound"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "x-rapidly-allowed-subjects": [
                    "User"
                ]
            }
        },
        "/api/workspaces/{id}/members/{user_id}": {
            "delete": {
                "tags": [
                    "workspaces",
                    "private"
                ],
                "summary": "Remove Member",
                "description": "Remove a member from an workspace.\n\nOnly workspace admins can remove members.\nAdmins cannot remove themselves.\n\n**Scopes**: `workspaces:write`",
                "operationId": "workspaces:remove_member",
                "security": [
                    {
                        "oidc": [
                            "workspaces:write"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid4",
                            "examples": [
                                "1dbfc517-0bbf-4301-9ba8-555ca42b9737"
                            ],
                            "description": "The workspace ID.",
                            "x-rapidly-selector-widget": {
                                "resourceRoot": "/api/workspaces",
                                "resourceName": "Workspace",
                                "displayProperty": "name"
                            },
                            "title": "Id"
                        }
                    },
                    {
                        "name": "user_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "User Id"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Member successfully removed."
                    },
                    "403": {
                        "description": "Not authorized to remove members.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotPermitted"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Workspace not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResourceNotFound"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "x-rapidly-allowed-subjects": [
                    "User"
                ]
            }
        },
        "/api/workspaces/{id}/ai-validation": {
            "post": {
                "tags": [
                    "workspaces",
                    "private"
                ],
                "summary": "Validate Workspace Details with AI",
                "description": "Validate workspace details using AI compliance check.\n\n**Scopes**: `workspaces:write`",
                "operationId": "workspaces:validate_with_ai",
                "security": [
                    {
                        "oidc": [
                            "workspaces:write"
                        ]
                    },
                    {
                        "oat": [
                            "workspaces:write"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid4",
                            "examples": [
                                "1dbfc517-0bbf-4301-9ba8-555ca42b9737"
                            ],
                            "description": "The workspace ID.",
                            "x-rapidly-selector-widget": {
                                "resourceRoot": "/api/workspaces",
                                "resourceName": "Workspace",
                                "displayProperty": "name"
                            },
                            "title": "Id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Workspace validated with AI.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/WorkspaceReviewStatus"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Workspace not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResourceNotFound"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "x-rapidly-allowed-subjects": [
                    "User",
                    "Workspace"
                ]
            }
        },
        "/api/workspaces/{id}/appeal": {
            "post": {
                "tags": [
                    "workspaces",
                    "private"
                ],
                "summary": "Submit Appeal for Workspace Review",
                "description": "Submit an appeal for workspace review after AI validation failure.\n\n**Scopes**: `workspaces:write`",
                "operationId": "workspaces:submit_appeal",
                "security": [
                    {
                        "oidc": [
                            "workspaces:write"
                        ]
                    },
                    {
                        "oat": [
                            "workspaces:write"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid4",
                            "examples": [
                                "1dbfc517-0bbf-4301-9ba8-555ca42b9737"
                            ],
                            "description": "The workspace ID.",
                            "x-rapidly-selector-widget": {
                                "resourceRoot": "/api/workspaces",
                                "resourceName": "Workspace",
                                "displayProperty": "name"
                            },
                            "title": "Id"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/WorkspaceAppealRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Appeal submitted successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/WorkspaceAppealResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Workspace not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResourceNotFound"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid appeal request."
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "x-rapidly-allowed-subjects": [
                    "User",
                    "Workspace"
                ]
            }
        },
        "/api/workspaces/{id}/ai-onboarding-complete": {
            "post": {
                "tags": [
                    "workspaces",
                    "private"
                ],
                "summary": "Mark AI Onboarding Complete",
                "description": "Mark the AI onboarding as completed for this workspace.\n\n**Scopes**: `workspaces:write`",
                "operationId": "workspaces:mark_ai_onboarding_complete",
                "security": [
                    {
                        "oidc": [
                            "workspaces:write"
                        ]
                    },
                    {
                        "oat": [
                            "workspaces:write"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid4",
                            "examples": [
                                "1dbfc517-0bbf-4301-9ba8-555ca42b9737"
                            ],
                            "description": "The workspace ID.",
                            "x-rapidly-selector-widget": {
                                "resourceRoot": "/api/workspaces",
                                "resourceName": "Workspace",
                                "displayProperty": "name"
                            },
                            "title": "Id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "AI onboarding marked as complete.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Workspace"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Workspace not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResourceNotFound"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "x-rapidly-allowed-subjects": [
                    "User",
                    "Workspace"
                ]
            }
        },
        "/api/workspaces/{id}/review-status": {
            "get": {
                "tags": [
                    "workspaces",
                    "private"
                ],
                "summary": "Get Workspace Review Status",
                "description": "Get the current review status and appeal information for an workspace.\n\n**Scopes**: `workspaces:read` `workspaces:write`",
                "operationId": "workspaces:get_review_status",
                "security": [
                    {
                        "oidc": [
                            "workspaces:read",
                            "workspaces:write"
                        ]
                    },
                    {
                        "oat": [
                            "workspaces:read",
                            "workspaces:write"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid4",
                            "examples": [
                                "1dbfc517-0bbf-4301-9ba8-555ca42b9737"
                            ],
                            "description": "The workspace ID.",
                            "x-rapidly-selector-widget": {
                                "resourceRoot": "/api/workspaces",
                                "resourceName": "Workspace",
                                "displayProperty": "name"
                            },
                            "title": "Id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Workspace review status retrieved.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/WorkspaceReviewStatus"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Workspace not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResourceNotFound"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "x-rapidly-allowed-subjects": [
                    "User",
                    "Workspace"
                ]
            }
        },
        "/api/workspace-access-tokens/": {
            "get": {
                "tags": [
                    "workspace_access_tokens",
                    "public",
                    "mcp"
                ],
                "summary": "List",
                "description": "List workspace access tokens.\n\n**Scopes**: `workspace_access_tokens:read` `workspace_access_tokens:write`",
                "operationId": "workspace_access_tokens:list",
                "security": [
                    {
                        "oidc": [
                            "workspace_access_tokens:read",
                            "workspace_access_tokens:write"
                        ]
                    },
                    {
                        "oat": [
                            "workspace_access_tokens:read",
                            "workspace_access_tokens:write"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "workspace_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string",
                                    "format": "uuid4",
                                    "examples": [
                                        "1dbfc517-0bbf-4301-9ba8-555ca42b9737"
                                    ],
                                    "description": "The workspace ID.",
                                    "x-rapidly-selector-widget": {
                                        "resourceRoot": "/api/workspaces",
                                        "resourceName": "Workspace",
                                        "displayProperty": "name"
                                    }
                                },
                                {
                                    "type": "array",
                                    "items": {
                                        "type": "string",
                                        "format": "uuid4",
                                        "examples": [
                                            "1dbfc517-0bbf-4301-9ba8-555ca42b9737"
                                        ],
                                        "description": "The workspace ID.",
                                        "x-rapidly-selector-widget": {
                                            "resourceRoot": "/api/workspaces",
                                            "resourceName": "Workspace",
                                            "displayProperty": "name"
                                        }
                                    }
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "WorkspaceID Filter",
                            "description": "Filter by workspace ID."
                        },
                        "description": "Filter by workspace ID."
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "exclusiveMinimum": 0,
                            "description": "Page number, defaults to 1.",
                            "default": 1,
                            "title": "Page"
                        },
                        "description": "Page number, defaults to 1."
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "exclusiveMinimum": 0,
                            "description": "Size of a page, defaults to 10. Maximum is 100.",
                            "default": 10,
                            "title": "Limit"
                        },
                        "description": "Size of a page, defaults to 10. Maximum is 100."
                    },
                    {
                        "name": "sorting",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/WorkspaceAccessTokenSortProperty"
                                    }
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "description": "Sorting criterion. Several criteria can be used simultaneously and will be applied in order. Add a minus sign `-` before the criteria name to sort by descending order.",
                            "default": [
                                "created_at"
                            ],
                            "title": "Sorting"
                        },
                        "description": "Sorting criterion. Several criteria can be used simultaneously and will be applied in order. Add a minus sign `-` before the criteria name to sort by descending order."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedList_WorkspaceAccessToken_"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "x-rapidly-allowed-subjects": [
                    "User",
                    "Workspace"
                ]
            },
            "post": {
                "tags": [
                    "workspace_access_tokens",
                    "public",
                    "mcp"
                ],
                "summary": "Create",
                "description": "**Scopes**: `workspace_access_tokens:write`",
                "operationId": "workspace_access_tokens:create",
                "security": [
                    {
                        "oidc": [
                            "workspace_access_tokens:write"
                        ]
                    },
                    {
                        "oat": [
                            "workspace_access_tokens:write"
                        ]
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/WorkspaceAccessTokenCreate"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/WorkspaceAccessTokenCreateResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "x-rapidly-allowed-subjects": [
                    "User",
                    "Workspace"
                ]
            }
        },
        "/api/workspace-access-tokens/{id}": {
            "patch": {
                "tags": [
                    "workspace_access_tokens",
                    "public",
                    "mcp"
                ],
                "summary": "Update",
                "description": "**Scopes**: `workspace_access_tokens:write`",
                "operationId": "workspace_access_tokens:update",
                "security": [
                    {
                        "oidc": [
                            "workspace_access_tokens:write"
                        ]
                    },
                    {
                        "oat": [
                            "workspace_access_tokens:write"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid4",
                            "title": "Id"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/WorkspaceAccessTokenUpdate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/WorkspaceAccessToken"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "x-rapidly-allowed-subjects": [
                    "User",
                    "Workspace"
                ]
            },
            "delete": {
                "tags": [
                    "workspace_access_tokens",
                    "public",
                    "mcp"
                ],
                "summary": "Delete",
                "description": "**Scopes**: `workspace_access_tokens:write`",
                "operationId": "workspace_access_tokens:delete",
                "security": [
                    {
                        "oidc": [
                            "workspace_access_tokens:write"
                        ]
                    },
                    {
                        "oat": [
                            "workspace_access_tokens:write"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid4",
                            "title": "Id"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Successful Response"
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "x-rapidly-allowed-subjects": [
                    "User",
                    "Workspace"
                ]
            }
        },
        "/api/members/": {
            "get": {
                "tags": [
                    "members",
                    "public",
[...]
